server:
  port: 8000

spring:
  application:
    name: service-order
  profiles:
    active: dev
    include: feign
  cloud:
    nacos:
      server-addr: localhost:8848
      username: nacos
      password: nacos
      config:
        namespace: dev
---
spring:
  config:
    import: nacos:service-order.yaml?group=DEFAULT_GROUP
    activate:
      on-profile: dev
---