spring:
  profiles:
    active: feign
  application:
    name: service-product
  cloud:
    nacos:
      server-addr: localhost:8848
      username: nacos
      password: nacos
      config:
        import-check:
          enabled: false
  config:
    import:
      nacos:service-product.yaml
server:
  port: 9000

